@model IEnumerable<DAL.ViewModels.VmBoletaAportes>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Empresa Municipal de Gas de San Francisco Cordoba que provee servicios de gas natural de uso residencial, comercios y PYMES">
    <meta name="KEYWORDS" content="empresa municipal de gas, servicio de gas, gas natural, servicio de gas natural, empresa distribuidora de gas, gasista, gas natural licuado, gasista matriculado, instalación de gas natural, empresa gas natural, distribuidora de gas, gas natural comprimido, fuga de gas, instalaciones de gas, gas licuado, gas natural precio, gas envasado, san francisco, cordoba">
    <title>Sitio Web de Carga e Impresion de Formularios de instalacion de Gas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            color: #000;
        }

        .outer-border {
            border: solid 1px #000;
            height: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .renglon-caja {
            border: solid 1px #000;
            height: 100%;
            margin: 0;
        }

        .renglon-tabla {
            border: solid 1px #000;
            height: 100%;
            padding-left: 0;
            padding-right: 0;
        }

            .renglon-tabla > table {
                margin-bottom: 0;
            }

        .caja-texto {
            border-left: solid 1px #000;
            border-right: solid 1px #000;
        }

        .caja-firma {
            position: relative;
            float: right;
            border: solid 1px #000;
            height: 75px;
            width: 150px;
            text-align: center;
            top: -35px;
            z-index: 2;
            background-color: #fff;
        }

        .renglon-cajas {
            padding: 0;
            margin: 0;
            height: 140px;
        }

        .renglon-caja-izquierda {
            border: solid 1px #000;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .renglon-caja-derecha {
            border: solid 1px #000;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .caja-texto-derecha {
            border-left: solid 1px #000;
        }

        .caja-texto-arriba {
            padding-left: 15px;
            border-bottom: solid 1px #000;
            z-index: 1;
        }

        .caja-texto-abajo {
            padding-left: 15px;
            z-index: 1;
        }

        .titular {
            background-color: #808080;
        }

        p.saltodepagina {
            page-break-after: always;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="outer-border col-xs-12">
            <div class="renglon-caja col-xs-12">
                <div class="col-xs-offset-1 col-xs-9 text-center caja-texto" style="font-size:18px;"><b>Sindicato de Empleados de Comercio</b></div>
                <div class="col-xs-2"><b>@DateTime.Today.ToShortDateString()</b></div>
            </div>
            <div class="renglon-tabla col-xs-12">
                <br />
            </div>
            <div class="renglon-caja col-xs-12">
                <div class="col-xs-12 text-center" style="font-size:24px;"><b>Listado de Boletas de Aportes Pagadas</b></div>
            </div>
            <div class="renglon-tabla col-xs-12">
                <br /><br /><br />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="outer-border col-xs-12">
            <div class="renglon-caja col-xs-12">
                <div class="col-xs-12 text-center" style="font-size:24px;"><b>Fecha: </b></div>
            </div>
            <div class="renglon-tabla col-xs-12">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Id DDJJ
                        </th>
                        <th>
                            Empresa
                        </th>
                        <th>
                            Cuit
                        </th>
                        <th>
                            Mes
                        </th>
                        <th>
                            Anio
                        </th>
                        <th>
                            C.E.
                        </th>
                        <th>
                            T.S.
                        </th>
                        <th>
                            2% Conv.
                        </th>
                        <th>
                            C.A.
                        </th>
                        <th>
                            T.S.
                        </th>
                        <th>
                            5% Cuota
                        </th>
                        <th>
                            Mora
                        </th>
                        <th>
                            Total Depositado
                        </th>
                        <th>
                            Fecha Pago
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdDeclaracionJurada</td>
                            <td>@item.RazonSocial</td>
                            <td>@item.Cuit</td>
                            <td>@item.Mes</td>
                            <td>@item.Anio</td>
                            <td>@item.CantEmpleados</td>
                            <td>@item.TotalSueldos</td>
                            <td>@item.DosPorc</td>
                            <td>@item.CantAfiliados</td>
                            <td>@item.TotalSueldosAfiliados</td>
                            <td>@item.CincoPorc</td>
                            <td>@item.RecargoPorMora</td>
                            <td>@item.TotalDepositado</td>
                            <td>@item.FechaPago</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>

