@model DAL.Models.LicenciaEmpleado

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-left">Dar de Baja Licencia del Empleado</h2>

<h3>¿Estas Seguro de Eliminar esta Licencia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoEmpresa.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoEmpresa.Empleado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenciaLaboral.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenciaLaboral.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAltaLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAltaLicencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBajaLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBajaLicencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-2">
                <input type="submit" id="submit" value="ELIMINAR" class="btn btn-default" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("VOLVER", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
