@model DAL.Models.DetalleDeclaracionJurada

@{
    ViewBag.Title = "Eliminar";
}
<br />
<h2 class="text-left">Eliminar Empleado de DDJJ</h2>

<h3>¿Estas seguro de querer eliminar el empleado de la DDJJ actual?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoEmpresa.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoEmpresa.Empleado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-2">
                <input type="submit" id="submit" value="ELIMINAR" class="btn btn-default" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("VOLVER", "Index", new { id = ViewBag.idDeclaracion }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

