@model DAL.Models.DeclaracionJurada

@{
    ViewBag.Title = "Delete";
}
<br />
<h2 class="text-left">Eliminar DDJJ</h2>

<h3>¿Estas seguro de querer eliminar la DDJJ actual?</h3>
<div>
    <h4>DeclaracionJurada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Cuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Cuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <div class="col-md-2">
                <input type="submit" id="submit" value="ELIMINAR" class="btn btn-default" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("VOLVER", "Index", new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
