@model DAL.Models.DeclaracionJurada

@{
    ViewBag.Title = "Edit";
}

<h2>EDITAR DDJJ</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DeclaracionJurada</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdDeclaracionJurada)

    <div class="form-group">
        @Html.LabelFor(model => model.idEmpresa, "idEmpresa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idEmpresa", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idEmpresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.anio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.anio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.anio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="GUARDAR CAMBIOS" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("VOLVER", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
