@model PagedList.IPagedList<DAL.Models.FechaVencimiento>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Fechas de Vencimiento</h2>

<p style="display:inline-block">
    @Html.ActionLink("Nueva Fecha", "Create", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>
        <th>
            Periodo Boleta
        </th>
        <th>
            @Html.ActionLink("Fecha de Vto", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.mesBoleta/@item.anioBoleta
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVto)
            </td>
            <td>
                <div class="mytooltip tooltip-effect-4">
                    <a href="@Url.Action("Edit",new { id = item.IdFechaVencimiento })" class="glyphicon glyphicon-edit"></a> |
                    <span class="tooltip-content5 tooltip-item" style="color:black">Editar</span>
                </div>
                <div class="mytooltip tooltip-effect-4">
                    <a href="@Url.Action("Details",new { id = item.IdFechaVencimiento })" class="glyphicon glyphicon-plus"></a> |
                    <span class="tooltip-content5 tooltip-item" style="color:black">Detalles</span>
                </div>
                <div class="mytooltip tooltip-effect-4">
                    <a href="@Url.Action("Delete", new { id = item.IdFechaVencimiento })" class="glyphicon glyphicon-remove"></a>
                    <span class="tooltip-content5 tooltip-item" style="color:black">Eliminar</span>
                </div>
            </td>
        </tr>
    }

</table>

<br />
<span class="clearfix"></span>
<div class="text-center" style="position :relative;">
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>