@model DAL.Models.LicenciaLaboral

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LicenciaLaboral</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdLicenciaLaboral)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-2 col-md-offset-5 col-md-1">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
            </div>
            <div class="col-xs-2 col-md-1">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
        <br /><br />
    </div>
}
