
@{
    ViewBag.Title = "Index";
}

<!-- /.row -->
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="row bg-inverse">
            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                <h2 class="text-center"><b>BIENVENIDO A XINDICO WEB</b> - Sistema de Generación de Boletas de Aportes del SEC SAN FRANCISCO</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="row bg-inverse">
            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
                <h4 class="text-center">
                    @*Comunicarse con <b>Juan Sanchez</b> a - <i class="fa fa-whatsapp"></i> <b>3564-505497</b> -*@ Para Consultas por Boletas de Aportes. Comunicarse al 03564-425340, Interno 102-<br />
                    <span style="display:inline-block;width:200px">Horarios de atencion: </span><b>LUNES A VIERNES: <span>09:00 a 12:30 HORAS<br /><span style="display: inline-block;width:370px"></span><span style="color:red">16:00 a 19:30 HORAS</span></span></b>
                    <br />
                    <span style="display:inline-block;width:270px"></span><b>SABADOS: <span>08:30 a 12:30 HORAS<br /></span></b>
                </h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row bg-white">
        <div class="col-xs-12">
            <div id="cuerpo">
                <hr />

                <div class="titulosBase text-center"><h3><b>EXTENSIÓN VENCIMIENTO DE PAGO PERÍODO DE ABRIL</b></h3></div>

                <hr />

                <h3>
                    Con carácter de excepción, los aportes sindicales correspondientes al Periodo MAYO 2020, el vencimiento de pago se extenderá hasta el 30 de junio inclusive sin la mora de actualización correspondiente pudiendo realizar la transferencia de los mismos a las cuentas del SEC.
                    <br />
                    <br />
                    Con respecto a los periodos anteriores a Mayo 2020, deben solicitar las actualizaciones antes de realizar los depósitos y/o transferencia de cancelación de los pagos para evitar reclamos.
                </h3>

                <div class="alert text-center">
                    <h4><b>LOS PAGOS DE INACAP Y FAECYS NO SE DEBEN ABONAR EN LAS CUENTAS DEL SINDICATO</b></h4>
                </div>
                <hr />

                <div class="titulosBase text-center"><h3><b>NOTIFICACIÓN IMPORTANTE</b></h3></div>

                <hr />

                <h3>
                    Para agilizar la cancelación de las Boletas Sindicales, se habilitan los datos de las cuentas para transferir los aportes de las empresas:

                    <br /><br />

                    BANCO NACIÓN:

                    <br />

                    <br />* CUENTA CORRIENTE: 31604671281700
                    <br />* CBU: 0110467120046712817008
                    <br />* CUIT: 30-53087384-2

                    <br /><br />

                    BANCO HIPOTECARIO:
                    <br />
                    <br />* CUENTA CORRIENTE: 304300000390111
                    <br />* CBU: 0440043130000003901110
                    <br />* CUIT: 30-53087384-2

                    <br /><br />

                    <b><u>Sr. Empleador</u></b>: se le informa que puede visualizar los pagos ya cancelados en el apartado de <b>“gestión de boletas”</b> desde su usuario, cabe destacar que en un plazo de 48 hs hábiles luego de realizado la transferencia/depósito.<br>
                    <b><u>Transferencias Bancarias</u></b>: Al realizar esta operación tener en cuenta completar con los datos de la empresa correspondiente, <b>(referencia: informar CUIT de la empresa que esta abonando)</b>, no siendo obligatorio el envío del comprobante de cancelación; en caso que no visualizara dicha boleta cancelada por el plazo arriba señalado, se les solicita que se comunique con el Sindicato a los fines de solicitarle la documentación necesaria y regularizar el periodo faltante.

                    <br /><br />

                    <span class="text text-danger"><b>Para enviar comprobantes de transferencias/depositos hacerlo a finanzas@secsanfrancisco.org.ar</b></span>
                </h3>

            </div>
        </div>
    </div>

    <hr />

    <!-- /.row -->
    <div class="row row-in">
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <div class="white-box">
                <div class="col-in row bg-title">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <i class="linea-icon linea-elaborate fa-fw" data-icon="A"></i>
                        <h5 class="text-muted vb">INSTRUCTIVO <br>DE USO</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h3 class="counter text-right m-t-15 text-primary"><a href=""><i class="fa fa-arrow-right"></i></a></h3>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("Create", "Empleados", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="7" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">CARGAR <br>EMPLEADO</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"><i class="fa fa-arrow-right"></i></h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("index", "Empleados", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="7" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">GESTIONAR <br>EMPLEADO</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("index", "LicenciasEmpleados", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="7" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">GESTIONAR <br>LICENCIAS</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row row-in">
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("index", "Afiliados", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="7" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">AFILIADOS</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("create", "DeclaracionesJuradas", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="F" class="linea-icon linea-software fa-fw"></i>
                            <h5 class="text-muted vb">CARGAR DDJJ</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("index", "DeclaracionesJuradas", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="F" class="linea-icon linea-software fa-fw"></i>
                            <h5 class="text-muted vb">GESTIONAR DDJJ</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("UploadFile", "DeclaracionesJuradas", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="F" class="linea-icon linea-software fa-fw"></i>
                            <h5 class="text-muted vb">IMPORTAR DDJJ</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- row -->
    <div class="row row-in">
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("create", "BoletaAportes", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">GENERAR <br />BOLETA</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <!--col -->
        <div class="col-lg-3 col-sm-6">
            <a href="@Url.Action("index", "BoletaAportes", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i>
                            <h5 class="text-muted vb">GESTIONAR BOLETA</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- /.col -->
        <div class="col-lg-3 col-sm-12">
            <a href="@Url.Action("create", "Reclamos", new { Area = "Empresas" })" role="button">
                <div class="white-box">
                    <div class="col-in row bg-title">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
                            <h5 class="text-muted vb">HACER <br />RECLAMOS</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3 class="counter text-right m-t-15 text-primary"> <i class="fa fa-arrow-right"></i> </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalInformacionImportante">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center"><b>Informacion Importante</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="col-xs-12">
                        <div id="cuerpo">
                            <hr />

                            <div class="titulosBase text-center"><h3><b>EXTENSIÓN VENCIMIENTO DE PAGO PERÍODO DE ABRIL</b></h3></div>

                            <hr />

                            <h3>
                                Con carácter de excepción, los aportes sindicales correspondientes al Periodo MAYO 2020, el vencimiento de pago se extenderá hasta el 30 de junio inclusive sin la mora de actualización correspondiente pudiendo realizar la transferencia de los mismos a las cuentas del SEC.
                                <br />
                                <br />
                                Con respecto a los periodos anteriores a Mayo 2020, deben solicitar las actualizaciones antes de realizar los depósitos y/o transferencia de cancelación de los pagos para evitar reclamos.
                            </h3>

                            <div class="alert text-center">
                                <h4><b>LOS PAGOS DE INACAP Y FAECYS NO SE DEBEN ABONAR EN LAS CUENTAS DEL SINDICATO</b></h4>
                            </div>
                            <hr />

                            <div class="titulosBase text-center"><h3><b>NOTIFICACIÓN IMPORTANTE</b></h3></div>

                            <hr />

                            <h3>
                                Para agilizar la cancelación de las Boletas Sindicales, se habilitan los datos de las cuentas para transferir los aportes de las empresas:

                                <br /><br />

                                BANCO NACIÓN:

                                <br />

                                <br />* CUENTA CORRIENTE: 31604671281700
                                <br />* CBU: 0110467120046712817008
                                <br />* CUIT: 30-53087384-2

                                <br /><br />

                                BANCO HIPOTECARIO:
                                <br />
                                <br />* CUENTA CORRIENTE: 304300000390111
                                <br />* CBU: 0440043130000003901110
                                <br />* CUIT: 30-53087384-2

                                <br /><br />

                                <b><u>Sr. Empleador</u></b>: se le informa que puede visualizar los pagos ya cancelados en el apartado de <b>“gestión de boletas”</b> desde su usuario, cabe destacar que en un plazo de 48 hs hábiles luego de realizado la transferencia/depósito.<br>
                                <b><u>Transferencias Bancarias</u></b>: Al realizar esta operación tener en cuenta completar con los datos de la empresa correspondiente, <b>(referencia: informar CUIT de la empresa que esta abonando)</b>, no siendo obligatorio el envío del comprobante de cancelación; en caso que no visualizara dicha boleta cancelada por el plazo arriba señalado, se les solicita que se comunique con el Sindicato a los fines de solicitarle la documentación necesaria y regularizar el periodo faltante.
                                
                                <br /><br />

                                <span class="text text-danger"><b>Para enviar comprobantes de transferencias/depositos hacerlo a finanzas@secsanfrancisco.org.ar</b></span>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--row -->