@{
    ViewBag.Title = "Mensaje de Confirmación de Olvido de Contraseña";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Empresas/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- animation CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/animate.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/style.css" />
    <!-- color CSS -->
    <link href="~/Areas/Empresas/Content/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- bootstrap-select CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">

</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div class="row" id="wrapper-usuario">

        <div class="col-md-6" id="inner-wrapper-usuario">

            <h2><b>@ViewBag.Title</b></h2>

            <p>
                Ingrese al correo electrónico que ingresó en el momento que registró su usuario para restablecer la contraseña.
            </p>

            <br /><br />

            <a href="@Url.Action("forgotpassword","Account")" class="btn btn-info">VOLVER A INTENTAR</a>

        </div>
        <div class="col-md-6" id="background-usuario"></div>
    </div>s

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!-- jQuery -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Empresas/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Areas/Empresas/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Areas/Empresas/Content/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Empresas/Content/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>