@model DAL.Models.Reclamo

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Reclamo</h2>

<div>
    <h4>Reclamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.IdReclamo }) |
    @Html.ActionLink("VOLVER", "Index")
</p>
