@model IEnumerable<DAL.Models.Reclamo>

@{
    ViewBag.Title = "Index";
}

<h2>RECLAMOS</h2>
<hr />
<p>
    @Html.ActionLink("NUEVO RECLAMO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensaje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensaje)
        </td>
        <td>
            @Html.ActionLink("Ver Detalle", "Details", new { id = item.IdReclamo }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.IdReclamo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdReclamo })
        </td>
    </tr>
}

</table>
