<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Empresas/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- animation CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/animate.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/style.css" />
    <!-- color CSS -->
    <link href="~/Areas/Empresas/Content/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- bootstrap-select CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <!-- bootstrap-time-picker CSS-->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/plugins/bower_components/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap-datepicker Javascript-->
    <link rel="stylesheet" href="~/Areas/Administrador/Content/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css">

</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header">
                    <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                    <div class="top-left-part"><a class="logo" href="~/Empresas/home/index"><b><img src="~/Areas/Empresas/Content/images/XindicoWeb-isologo.png" alt="home" /></b><span class="hidden-xs"><img src="~/Areas/Empresas/Content/images/XindicoWeb-texto.png" alt="home" /></span></a></div>
                    <ul class="nav navbar-top-links navbar-left hidden-xs">
                        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <!-- /.navbar-header -->
            </nav>
            <!-- Left navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                    <ul class="nav" id="side-menu">
                        <li class="nav-small-cap m-t-10">--- Menú Principal</li>
                        <li><a href="~/Empresas/home/index" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">HOME</span></a></li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">INSTRUCTIVO DE USO<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Importacion de Empleados", "IntructivoImportacionEmpleados", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Importacion DDJJ", "IntructivoImportacionDDJJ", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Localidades", "indexLocalidades", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Provincias", "indexProvincias", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Categorias", "IndexCategorias", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Jornadas", "IndexJornadas", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Liquidaciones Proporcionales", "IndexLiquidacionesProporcionales", "InstructivoDeUso", null, null)</li>
                                @*<li>@Html.ActionLink("Tabla Actividades", "indexActividades", "InstructivoDeUso", null, null)</li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">EMPLEADOS<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Cargar Empleado", "create", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Empleados", "index", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Empleados de Baja", "indexBajas", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Licencias", "index", "LicenciasEmpleados", null, null)</li>
                                <li>@Html.ActionLink("Importar Empleados", "UploadFile", "Empleados", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">AFILIADOS<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Gestionar Afiliados", "index", "Afiliados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Afiliados de Baja", "indexBajas", "Afiliados", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="F" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">DDJJ<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Generar DDJJ", "create", "DeclaracionesJuradas", null, null)</li>
                                <li>@Html.ActionLink("Gestionar DDJJ", "index", "DeclaracionesJuradas", null, null)</li>
                                <li>@Html.ActionLink("Importar DDJJ", "UploadFile", "DeclaracionesJuradas", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">BOLETAS DE APORTES<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Generar Boleta", "create", "BoletaAportes", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Boleta", "index", "BoletaAportes", null, null)</li>
                            </ul>
                        </li>
                        <li> <a href="@Url.Action("create","Reclamos", new { Area = "Empresas" })" class="waves-effect"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">RECLAMOS</span></a></li>

                    </ul>
                </div>
                <!-- /.right-sidebar -->
            </div>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- /.row -->
                    <div class="row">
                        @RenderBody()
                        <hr />
                    </div>
                    <!--row -->
                </div>

                <footer class="footer text-center"> 2019 &copy; XindicoWeb - Sistema de Generación de Boletas de Aportes - Sindicato de Empleados de Comercio de San Francisco y Zona - Desarrollado por <a href="">StartNet</a></footer>
            </div>

        </div>
        <!-- /#page-wrapper -->
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap-Select Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
    <!-- bootstrap-time-picker Javascript-->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Areas/Empresas/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Areas/Empresas/Content/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Empresas/Content/js/custom.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!--Style Switcher -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        $(document).ready(function () {
            $('#modalInformacionImportante').modal('show');
        });
        $('#EnviarReclamo').click(function () {
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("EnviarReclamo", "Reclamos")',
                context: document.body,
                data: {
                    Nombre: $("#Nombre").val(),
                    Empresa: $("#Empresa").val(),
                    Email: $("#Email").val(),
                    Telefono: $("#Telefono").val(),
                    Mensaje: $("#Mensaje").val()
                },
                success: function (result) {
                    if (result.resultado) {
                        $("#Nombre").val("");
                        $("#Empresa").val("");
                        $("#Email").val("");
                        $("#Telefono").val("");
                        $("#Mensaje").val("");

                        $('body').append('<span class = "alert alert-success" style="position: fixed;bottom: 50px;right: 25px;z-index:90">' + result.mensaje + '</span>')

                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 4000);
                    }
                    else {
                        $('body').append('<span class = "alert alert-danger" style="position: fixed;bottom: 50px;right: 25px;z-index:90">' + result.mensaje + '</span>')

                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 4000);
                    }
                },
                error: function (xhr) {
                    $('body').append('<span class = "alert alert-danger" style="position: fixed;bottom: 0;right: 0;z-index:90">Ocurrio un Error, por Favor intente mas tarde</span>')

                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 4000);
                }
            });
        });
    </script>
</body>
</html>