@model DAL.Models.BoletaAportesEspecial

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Boleta de Aportes Especial</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Periodo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayName("Total de Sueldos 2%")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSueldos2)
        </dd>

        <dt>
            @Html.DisplayName("Total de Sueldos 5%")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSueldos5)
        </dd>

        <dt>
            @Html.DisplayName("Total Depositado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDepositado)
        </dd>

        <dt>
            @Html.DisplayName("Recargo por Mora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecargoMora)
        </dd>

        <dt>
            @Html.DisplayName("Boleta Pagada")
        </dt>

        <dd>
            @if (Model.BoletaPagada)
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>

        <dt>
            @Html.DisplayName("Pago")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDepositado)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Pago")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>

    </dl>
</div>

<div class="col-md-2">
    @Html.ActionLink("Volver a la lista", "index", new { idEmpresa = Model.IdEmpresa }, new { @class = "btn btn-default" })
</div>

@if (!Model.BoletaPagada)
{
    <div class="col-md-2">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdBoleta }, new { @class = "btn btn-default" })
    </div>
}
<br />